
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    
    <script type="text/javascript">
        function getData() {
            // debugger;
            var url = "/api/Calci";
            $.ajax({
                url: url,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                type: "Get",
                success: function (results) {
                     //debugger;
                    if (results) {
                        var row = '';
                        for (let i = 0; i < results.length; i++) {
                            row = row + "<tr>" 
                                + "<td>" + results[i].firstnumber + "</td>"
                                + "<td>" + results[i].secondnumber + "</td>"
                                + "<td>" + results[i].result + "</td>"
                                + "<td>" + results[i].operation + "</td>"
                                + "<td>" + results[i].CreatedOn + "</td>"
                                + "</tr>";
                        }
                    }
                    if (row != '') {
                        $('#tbldata').append(row);
                    }                   
                },
                error: function (msg) {
                   // debugger;
                    alert(msg);
                }
            });
        }
        $(document).ready(function () {
            getData();
            $("#button1").click(function () {
                //debugger;
                var num1 = $("#txt1").val();
                var num2 = $("#txt2").val();
                var oop = $(this).attr('id');
                $.getJSON("/api/Calci?firstnumber=" + num1 + "&secondnumber=" + num2 +"&operation="+oop, function (data) {
                    $("#result").text(data);
               
                var insert = {};
                insert.firstNumber = $("#txt1").val();
                insert.secondNumber = $("#txt2").val();
                insert.operation = $("#button1").val();
                insert.result = data;
                var date = new Date();
                insert.CreatedOn = date.toLocaleString();                   
                $.ajax({
                    url: "https://localhost:44343/api/Calci/Calculator",
                    type: "POST", contentType: "Application/json;charset-utf-8",
                    data: JSON.stringify(insert),
                    dataType: "json",
                    success: function (response) {
                        alert(response)
                    }
                });                        
                })
                })
                $("#button2").click(function () {
                    var num1 = $("#txt1").val();
                    var num2 = $("#txt2").val();
                    var oop = $(this).attr('id');
                    $.getJSON("/api/Calci?firstnumber=" + num1 + "&secondnumber=" + num2 +"&operation=" + oop, function (data) {
                        $("#result").text(data);
                   
                    var insert = {};
                    insert.firstNumber = $("#txt1").val();
                    insert.secondNumber = $("#txt2").val();
                    insert.operation = $("#button2").val();
                    insert.result = data;
                    var date = new Date();
                    insert.CreatedOn = date.toLocaleString();       
                    $.ajax({
                        url: "https://localhost:44343/api/Calci/Calculator",
                        type: "POST", contentType: "Application/json;charset-utf-8",
                        data: JSON.stringify(insert),
                        dataType: "json",
                        success: function (response) {
                            alert(response)
                        }
                    });
                  })
                })

                $("#button3").click(function () {
                     var num1 = $("#txt1").val();
                    var num2 = $("#txt2").val();
                    var oop = $(this).attr('id');
                    $.getJSON("/api/Calci?firstnumber=" + num1 + "&secondnumber=" + num2 +"&operation=" + oop, function (data) {
                         $("#result").text(data);
                    
                    var insert = {};
                    insert.firstNumber = $("#txt1").val();
                    insert.secondNumber = $("#txt2").val();
                    insert.operation = $("#button3").val();
                    insert.result = data;
                    var date = new Date();
                    insert.CreatedOn = date.toLocaleString();      
                    $.ajax({
                        url: "https://localhost:44343/api/Calci/Calculator",
                        type: "POST", contentType: "Application/json;charset-utf-8",
                        data: JSON.stringify(insert),
                        dataType: "json",
                        success: function (response) {
                            alert(response)
                        }
                    });
                    })
                })

                $("#button4").click(function () {
                        var num1 = $("#txt1").val();
                        var num2 = $("#txt2").val();
                    var oop = $(this).attr('id');
                    $.getJSON("/api/Calci?firstnumber=" + num1 + "&secondnumber=" + num2 +"&operation=" + oop, function (data) {
                        $("#result").text(data);
                    
                    var insert = {};
                    insert.firstNumber = $("#txt1").val();
                    insert.secondNumber = $("#txt2").val();
                    insert.operation = $("#button4").val();
                    insert.result = data;
                    var date = new Date();
                    insert.CreatedOn = date.toLocaleString();       
                    $.ajax({
                        url: "https://localhost:44343/api/Calci/Calculator",
                        type: "POST", contentType: "Application/json;charset-utf-8",
                        data: JSON.stringify(insert),
                        dataType: "json",
                        success: function (response) {
                            alert(response)
                        }
                    });
                    })
                })

            })


    </script>
</head>
<body>
    <div>
        <h1>Calculator</h1>       
        <table border="1">
            <tr>
                <td>Enter First Number</td>
                <td><input type="text" name="num1" id="txt1" value="" /></td>

            </tr>           
            <tr>
                <td>Enter Second Number</td>
                <td><input type="text" name="num2" id="txt2" value="" /></td>
            </tr>
            <tr>
                <td>Result</td>
                <td><span id="result" /></td>
                @*<td><input type="text" name="num3" id="result" value="" /></td>*@
            </tr>
            <tr>
                <td>
                    <input type="button" name="sum" id="button1" value="Plus" />
                    <input type="button" name="dif" id="button2" value="Minus" />
                    <input type="button" name="mul" id="button4" value="Mul" />
                    <input type="button" name="div" id="button3" value="Div" />
                </td>
            </tr>
        </table>
        <hr />
        <h1>History Data</h1>
        <table border="1">
            <tr>
                <th>First Number</th>
                <th>Second Number</th>
                <th>Result</th>
                <th>Operation</th>
                <th>CreatedON</th>
            </tr>
            <tbody id="tbldata">
            </tbody>
        </table>
        @*<span id="result" />*@

    </div>
</body>
</html>
